{% extends "base.html" %}
{% block content %}
  <h2>Security QR Scanner</h2>
  <div id="reader" style="width:300px;" class="border p-2 bg-white"></div>
  <div id="result" class="mt-3"></div>

  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  <script>
    function onScanSuccess(decodedText, decodedResult) {
        window.location.href = "/verify/" + decodedText;
    }
    function onScanError(errorMessage) {}
    let html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess, onScanError);
  </script>
{% endblock %}
